<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Invite Admin</h1>

    <p>Enter the email of the person who you want to invite to become an admin</p>

    <%= form_for @admin do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true, autocomplete: :off %>
      </div>

      <div class="text-right">
        <%= f.submit 'Invite', class: 'btn btn-info right' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
