<div class="bg-image" style="display: block; height: 50em; padding: 1em 1em 15em 49%; background-image: url(https://snworksceo.imgix.net/dtc/730188fd-060a-435c-9a00-1e1a45ca3fff.sized-1000x1000.jpg);">
  <div style="shape-outside: polygon(0 0, 0 37em, 12em 0em); float: left; width: 8.5em; height: 31em; opacity: .2;">
  </div>

  <p style="color: white; font-size: 18px; padding-top: 7em;">
    “Making the city we love, a city for all, means making the city we love a city of second chances. Everyone who is benefiting from this program has paid a very steep price.  They have lost their license for at least two years. To be a city of second chances, there must be an expiration date on what it means to hold someone accountable.”
  </p>

  <p style="color: white; font-size: 17px; float: right;">
    - Mayor Steve Schewel, City of Durham
  </p>
</div>
