<p><%= t ".records_missing" %></p>
<%= link_to (t '.about_button'), 'http://www.deardurham.org', target: '_blank', rel: 'noopener', class: 'btn btn-primary dear-program' %>


<!-- <p>
  [Sign up for an appointment to meet with an attorney at the DEAR office]
</p> -->
