<p><%= t ".empty_offenses" %></p>

<!-- cait's stuff -->
<%= link_to (t ".not_eligible_button"), '#', class: 'btn btn-primary about-us' %>
<%= link_to (t ".learn_more_button"), 'www.deardurham.org', class: 'btn btn-primary about-us' %>
