<h1>Admin#edit</h1>

<h2>Admin panel page</h2>

<p>
This page returns all the results from the Admin search and has a drop-down menu for "Status" to change from "pending" to "approved" or "rejected".
The admin can then save these changes to the database.
</p>
