<h1>Admin#panel</h1>

<h2>Admin panel page</h2>

<p>
  This page has a search bar similar to the search page, except these results are full and have links to the offenses#show page for further detail
</p>
