.pdf-page {
  page-break-before: always;
  color: #000;
  font-size: 16px;
  margin: auto;
}
.pdf-logo, .pdf-html-logo {
  width: 100%;
  max-width: 150px;
  margin-bottom: 2em;
  margin-top: 1em;
}
.pdf-file-container .pdf-html-logo {
  /* display: none; */
}
.pdf-html-container .pdf-page {
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  margin-top: 1em;
  padding: 30px;
}
.pdf-html-container .pdf-html-logo {
  display: block;
}
.pdf-html-container .pdf-logo {
  display: none;
}
