<h1>Offenses#edit</h1>

<p>
  This page has a form. It has only the selected group's offenses showing. All the offense are already preselected. It's now up to the admin to de-select the cases that did not get approved, but we assume that most, if not all, cases will be approved. 
</p>
