<h1>Offenses#index</h1>
<h2>Admin Panel page</h2>

<p>
  page has a search bar similar to the search page, except these results are full and have links to the offenses#show page for further detail
</p>
