<h1>Import page</h1>

<p>Only spreadsheet-type files should be allowed.</p>

<%= form_for @offense do |f| %>
  <div class="form-group">
    <%#= accept: 'text/csv' %>
    <%#= accept: 'application/vnd.ms-excel' %>
    <%#= accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
    <%= f.file_field :file, accept: 'text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', class: 'form-control-file' %>
  </div>
    <%= f.submit 'File Import', class:'btn btn-primary' %>
<% end %>

<%= stylesheet_link_tag 'admin', media: 'all' %>
