<h1>Offenses#new</h1>
<h2>Import page</h2>

<p>Form that allows you to choose a file and upload it.</p>

<p>Only spreadsheet-type files should be allowed.</p>

<%= form_for @offense do |f| %>
  <div class="form-group">
    <%#= accept: 'text/csv' %>
    <%#= accept: 'application/vnd.ms-excel' %>
    <%#= accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
    <%= f.file_field :file, class: 'form-control-file' %>
  </div>
    <%= f.submit 'File Import', class:'btn btn-primary' %>
<% end %>
