<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 class="title">Admin Panel</h1>

    <%= link_to 'Contacts', contacts_path, class: 'btn btn-secondary' %>
    <%= link_to 'Offenses', offenses_path, class: 'btn btn-secondary' %>
    <%#= link_to 'Import', new_offense_path, class: 'btn btn-secondary' %>
    <%= link_to 'Stats', stats_path, class: 'btn btn-secondary' %>
  </div>
  <div class="col-md-3"></div>
</div>
