<p>
  Below are your relief details as well as
  <%= link_to 'online', token_url(@relief_message.token) %>
  and in
  <%= link_to 'PDF format', token_url(@relief_message.token, format: :pdf) %>.
</p>

<%= @relief_message.body.html_safe %>
