<p>Below are your relief details</p>

<%= @relief_message.body.html_safe %>

<p>
  If you would like to see this message as a webpage or PDF document, click here:
  <a href="#">link to message</a>
</p>
