.btn-primary {
  margin-top: 10px;
  font-family: 'Sofia Pro Soft Light', sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  background-color: $green;
}

@media only screen and (max-width: 39em) {
  .btn-primary {
    font-size: 0.625em;
  }
}
