/* typography */

p, li, a, td {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

/* show page */

.project-partners {
  display: inline;
  list-style: none;
}

.project-partners img {
  display: block;
  margin: 0 auto;
}

.district-attorney {
  margin: 15px 10px 15px 10px;
  text-align: center;
}

/* confirm page */

.title {
  margin-top: 50px;
}

.records-returned {
  margin: 20px 0px 10px 0px;
}

/* media queries */

@include mobile {
  /* typography */

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1em;
  }

  p, .footer a {
    font-size: 0.9em;
  }

  .district-attorney-media {
    font-size: 1.1em;
  }
}
