.footer {
  // flex-shrink: 0;
  // position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $nav-bg;
}

.footer-row {
  margin-top: 15px;
}

.copyright {
  padding-bottom: 1.5em;
}

.text-uppercase, .credits, .copyright, .list-unstyled > li > a {
  text-decoration: none;
  color: $nav-link-color;
}

.footer-sections {
  @include mobile {
    margin-top: 15px;
  }
}
