.footer {
  bottom: 0;
  width: 100%;
  background-color: $nav-bg;
}

.footer-row {
  margin-top: 15px;
}

.text-uppercase, .credits, .list-unstyled > li > a {
  text-decoration: none;
  color: $nav-link-color;
}

.footer-sections {
  @include mobile {
    margin-top: 15px;
  }
}
