header {
  background-color: $nav-bg;
}

.logo {
  height: 80px;
  padding-left: 10px;
  font-size: 1.7em;
  color: var(--nav);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  @include mobile {
    font-size: 1em;
  }
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: var(--nav);
}
