$header-height: 80px;
$footer-height: 160px;

.container {
  // min-height: 67vh; // good estimate, but it's not exact and could break down with screens bigger than mine
  min-height: calc(100vh - (80px + 160px)); // perfect
  padding-bottom: 5em;
}

@include mobile {
  .content {
    padding-top: 4em;
  }
}

.bg-image {
  background-position: center;
  background-size: cover;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // color: white;
  padding: 1em;
  text-shadow: 0 0 0.4em black;
}
