@include desktop {
  nav.header-nav {
    // all: unset;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      margin-bottom: 0;
    }
    li {
      margin-right: 3em;
      margin-bottom: 0;
    }
    a {
      opacity: 1;
      position: relative;
      &:hover {
        text-decoration: none;
        color: $nav-link-color;
      }
      &::before {
        content: '';
        display: block;
        height: 5px;
        background: $green;
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
      }
      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
}

@include mobile {
  nav.header-nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgba(15,15,24,0.85);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    ul {
      margin: 0;
      padding-top: 1em;
      padding-left: 0;
      list-style: none;
    }
    li {
      margin-bottom: 1em;
      margin-left: 1em;
    }
    a {
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      &:hover {
        color: $green;
      }
    }
  }

}
