// https://github.com/sparksuite/simple-html-invoice-template
.pdf-logo {
  float: left;
  width: 100%;
  max-width: 100px;
  margin-right: 1em;
}

.pdf-page {
  border: 1px solid black;
  page-break-before: always; // invoke page break on pdf
  color: #000; // #555
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  font-size: 16px; // 14px
  // line-height: 20px; // 24px
  margin: auto;
  // max-width: 800px;

}

// styles only to be applied to the html view
@media only screen and (min-width: 600px) {
  .pdf-page {
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    margin-top: 1em;
    padding: 30px;
  }
}
