// Sortable column arrows
.asc, .desc {
  margin-right: 1em;
  &:after, &:after {
    margin-left: .2em;
    position: absolute;
  }
}
.asc:after {
  content: "\25BE";
  transform: rotate(180deg) translateY(-0.2em);
}
.desc:after {
  content: "\25BE";
}
