<footer class="page-footer font-small pt-4 footer">
    <div class="container-fluid text-center text-md-left">
      <div class="row footer-row">
        <!-- <hr class="clearfix w-100 d-md-none pb-3 hr-line"> -->
        <div class="col-md-6 mt-md-0 mt-3">
            <p class="credits">Web Application <i class="fas fa-laptop-code"></i> by Cruz Núñez and Cait Gorevin.</p>
          <%= image_tag('http://forthebadge.com/images/badges/made-with-ruby.svg', {:class => "footer-image"}) %>
        </div>
        <div class="col-md-3 mb-md-0 mb-3 footer-sections">
            <h5 class="text-uppercase">About Us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Code the Dream</a>
              </li>
              <li>
                <a href="#!">The Restoration Initiative</a>
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3 footer-sections">
            <h5 class="text-uppercase">More Information</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Next Steps</a>
              </li>
              <li>
                <a href="#!">Eventbrite</a>
              </li>
              <li>
                <a href="#!">Contact Us</a>
              </li>
              <li></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 copyright">© 2018 Copyright</div>
  </footer>
