<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Durham Drivers License Restoration Initiative", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Search", '/' %></li>
        <li><%= link_to('Admin', new_admin_session_path, class: 'nav-link') %></li>
      </ul>
    </nav>
  </div>
</header>
