<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .pdf-logo {
        display: none;
      }
      .pdf-page {
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        margin: 10px;
        margin-bottom: 2em;
        padding: 30px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
